# =====================
# Global Node/React/MERN
# =====================

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/
*.swp

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =====================
# server (Node + Express)
# =====================
/server/node_modules/
/server/.env
/server/dist/
/server/coverage/
/server/.http
/server/*.tsbuildinfo

# MongoDB dump
/server/dump/
/server/*.gz

